@model Products

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <form method="post" class="row">
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for=Title type="text" readonly class="form-control border-0 p-2 shadow" />
                    <label asp-for=Title class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=Author type="text" readonly class="form-control border-0 p-2 shadow" />
                    <label asp-for=Author class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <textarea asp-for=Description type="text" readonly class="form-control border-0 p-2 shadow" ></textarea>
                    <label asp-for=Description class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=ISBN type="text" readonly class="form-control border-0 p-2 shadow" />
                    <label asp-for=ISBN class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=ListPrice type="text" readonly class="form-control border-0 p-2 shadow" />
                    <label asp-for=ListPrice class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=Price type="text" readonly class="form-control border-0 p-2 shadow" />
                    <label asp-for=Price class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=Price50 type="text" readonly class="form-control border-0 p-2 shadow" />
                    <label asp-for=Price50 class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=Price100 type="text" readonly class="form-control border-0 p-2 shadow" />
                    <label asp-for=Price100 class="ms-2"></label>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <input class="btn btn-primary form-control" name="Delete" type="submit" />
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" asp-controller="Product" class="btn btn-outline-secondary border-2 form-control">back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


