@model ProductVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">

                @* <label asp-for=Category_Id hidden ></label> *@
                <div class="form-floating py-2 col-12">
                    <input asp-for=Products.Title type="text" class="form-control border-0 p-2 shadow" />
                    <label asp-for=Products.Title class="ms-2"></label>
                    <span asp-validation-for="Products.Title" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=Products.Author type="text" class="form-control border-0 p-2 shadow" />
                    <label asp-for=Products.Author class="ms-2"></label>
                    <span asp-validation-for="Products.Author" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <textarea asp-for=Products.Description type="text" class="form-control border-0 p-2 shadow"></textarea>
                    <label asp-for=Products.Description class="ms-2"></label>
                    <span asp-validation-for="Products.Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=Products.ISBN type="text" class="form-control border-0 p-2 shadow" />
                    <label asp-for=Products.ISBN class="ms-2"></label>
                    <span asp-validation-for="Products.ISBN" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=Products.ListPrice type="text" class="form-control border-0 p-2 shadow" />
                    <label asp-for=Products.ListPrice class="ms-2"></label>
                    <span asp-validation-for="Products.ListPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=Products.Price type="text" class="form-control border-0 p-2 shadow" />
                    <label asp-for=Products.Price class="ms-2"></label>
                    <span asp-validation-for="Products.Price" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=Products.Price50 type="text" class="form-control border-0 p-2 shadow" />
                    <label asp-for=Products.Price50 class="ms-2"></label>
                    <span asp-validation-for="Products.Price50" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=Products.Price100 type="text" class="form-control border-0 p-2 shadow" />
                    <label asp-for=Products.Price100 class="ms-2"></label>
                    <span asp-validation-for="Products.Price100" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.Products.CategoryId" asp-items="@Model.CategoryList" type="text" class="form-control border-0 p-2 shadow">
                        <option disabled >--Select Category--</option>
                    </select>
                    <label asp-for=Products.CategoryId class="ms-2"></label>
                    <span asp-validation-for=Products.CategoryId class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=Products.ImageURL type="text" class="form-control border-0 p-2 shadow" />
                    <label asp-for=Products.ImageURL class="ms-2"></label>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <input class="btn btn-primary form-control" name="Edit" type="submit" />
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" asp-controller="Product" class="btn btn-outline-secondary border-2 form-control">back</a>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>


@section Scripts {
    @{
        <partial name="_validationScriptsPartial" />
    }
}