@page
@model DemoRazorPages.Pages.Categories.IndexModel

@* <div class="toast align-items-left text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            <partial name="_PartialNotificationView" />
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
 *@
<div class="container">

    <div class="row m-2 pt-2 pb-2">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/Categories/Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add New Category
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="border:solid 2px black;">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Display Order
                </th>
                <th colspan="2">
                    <div style="display:flex;justify-content:center;">
                        Action
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.categoriesList.OrderBy(u=>u.DisplayOrder))
             {
                <tr>
                    <td>
                        @category.Name
                    </td>
                    <td>
                        @category.DisplayOrder
                    </td>
                    <td>
                        <a asp-page="/Categories/Edit" asp-route-Id="@category.Id" class="btn btn-outline-warning">
                            <i class="bi bi-pen-fill"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a asp-page="/Categories/Delete" asp-route-Id="@category.Id" class="btn btn-outline-danger">
                            <i class="bi bi-x-circle-fill"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>